@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}


body{
    background-image: linear-gradient(to bottom , rgb(0, 91, 105) , rgb(1, 30, 45));
    display: flex;
    margin: auto;
    height: 100vh;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

main{
    width:380px ;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h3{
margin-top: 30px;
margin-bottom: 60px;
font-size: 1em;
opacity: 80%;
}

.containerimg{
margin: auto;
width: 100%;
height: 55%;

}

img{
width: 95%;
height: 95%;
border-radius: 5px;
border: solid 5px #e2dddd5f;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

.info{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

#banda{
    opacity: 70%;
    font-size: 1.2em;
}
#musica{
    font-weight: bolder;
    font-size: 1.6em;
}

#baraprogresso{
    height: 2.4px;
    width: 100%;
    margin: auto;
    background-color: #535353;
    border-radius: 2px;
}

#progresso{
   --progress: 0%;
   height: inherit;
   background-color: #fff;
   width:var(--progress);
   border-radius: inherit;
}

#containerbarra{
    padding-top: 3px;
    margin: 0px 10px;
}

#like{
    margin-right: 10px;  
    opacity: 70%;
    font-size: 1.8em;

}

.button{
    display: inline-flex;
    margin-top: 3px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-around;

}

button{
    background-color: inherit;
    color: #fff;
    border-style: none;
    cursor: pointer;
}

#embaralhar{
font-size: 2em;
opacity: 70%;
}
#voltar{
font-size: 2.4em;
}
#avancar{
font-size: 2.4em;
}
#start{
 font-size: 3.5em;
}
#repetir{
font-size: 2em;
opacity: 70%;
}

.button-active{
    color: rgb(102, 255, 47);
}

#timer-box{
    font-size: smaller;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    color: #aaaaaa;
    margin-top: 4px;
}

#timer{
    color: #ebeaea;
}


.teste{
   color:  linear-gradient(to bottom , rgb(0, 91, 105) , rgb(1, 30, 45));
   color: linear-gradient(to bottom , rgb(193, 51, 19) , rgb(45, 1, 9));
   color: linear-gradient(to bottom , rgb(185, 173, 6) , rgb(43, 45, 1));;

}



